/* line 1, ../sass/style.scss */
html, body {
  width: 100%;
}

/* line 5, ../sass/style.scss */
header {
  background: #cccccc;
  border: 2px solid #aaaaaa;
}
/* line 9, ../sass/style.scss */
header h1 {
  margin-left: 1em;
}

/* line 14, ../sass/style.scss */
footer {
  background: #cccccc;
  height: 4em;
  border: 2px solid #aaaaaa;
}

/* line 20, ../sass/style.scss */
.wrapper {
  width: 960px;
  background: #efefef;
  margin: 0 auto 0 auto;
  padding: 1em;
  border: 2px solid #aaaaaa;
}

/* line 28, ../sass/style.scss */
.packageItem {
  padding-top: 1em;
  border: 1px solid #cccccc;
}
/* line 32, ../sass/style.scss */
.packageItem label {
  display: block;
}

/* line 37, ../sass/style.scss */
small.PROCESSING {
  font-weight: bold;
  color: red;
}

/* line 42, ../sass/style.scss */
small.SHIPPING {
  font-weight: bold;
  color: orange;
}

/* line 47, ../sass/style.scss */
small.ARRIVED {
  font-weight: bold;
  color: limegreen;
}

/* line 51, ../sass/style.scss */
.newPackage {
  padding-top: 1em;
  border: 1px solid #cccccc;
}
