/* line 1, ../sass/style.scss */
html, body {
  width: 100%;
}

/* line 5, ../sass/style.scss */
header {
  background: #cccccc;
  border: 2px solid #aaaaaa;
}

/* line 10, ../sass/style.scss */
footer {
  background: #cccccc;
  height: 4em;
  border: 2px solid #aaaaaa;
}

/* line 16, ../sass/style.scss */
.wrapper {
  width: 960px;
  background: #eeeeee;
  margin: 0 auto 0 auto;
  padding: 1em;
  border: 2px solid #aaaaaa;
}

/* line 24, ../sass/style.scss */
.packageItem {
  padding-top: 1em;
  border: 1px solid #cccccc;
}
/* line 28, ../sass/style.scss */
.packageItem label {
  display: block;
}

/* line 33, ../sass/style.scss */
.newPackage {
  padding-top: 1em;
  border: 1px solid #cccccc;
}
